{{#if this.KData.TableInfo.FooterType.CreateNewRow.Show}}
<tr data-footertype="CreateNewRow" style="{{this.KData.TableInfo.FooterType.CreateNewRow.Style}}">
    {{> MainTable/Footer/CreateNew/KTfooterCreateNewRow }}
</tr>
{{/if}}

{{#if this.KData.TableInfo.FooterType.ShowTotals}}
<tr ReportTableShowTotals class="table-info">
    <td style="text-align:right; display:none" class="kClassSearchSNo"></td>
    <td>{{this.KData.TableData.length}}</td>

    {{#each this.KData.TableColumns as |val1 key1|}} {{#if val1.ShowInTable}}
    <td style="text-align:{{val1.TextAlign}}">
        {{TableFooterShowTotal val1 key1 ../KData.TableColumns ../KData.TableData}}
    </td> {{/if}} {{/each}}
</tr>
{{/if}}

{{#if this.KData.TableInfo.FooterType.ShowBalance}}
{{> Table/Footer/Show/BalanceRow}}
{{/if}}