<div class="row">
    {{#if KData.TableInfo.SearchRowArray.Label.KTF}}
    <div class="col-{{KData.TableInfo.SearchRowArray.Label.DisplayObject.ColClass}}">
        <h5 style="margin-left: 7px; margin-top:10px; text-align:left;">
            {{KData.TableInfo.SearchRowArray.Label.DisplayObject.DisplayText}}
        </h5>
    </div>
    {{/if}}
    {{#if KData.TableInfo.SearchRowArray.Search.KTF}}
    <div class="col-{{KData.TableInfo.SearchRowArray.Search.DisplayObject.ColClass}}">
        <div class="input-group">
            <span class="input-group-text text-body"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></span>
            <input type="text" class="form-control" placeholder="Type here..."
                onkeyup="KeshavSoftCrud.AllFuncs.Table.SearchRow.SearchFuncs.SearchAllRows(event)">
        </div>
    </div>

    {{/if}}
    {{#if KData.TableInfo.SearchRowArray.SearchWithEnter.KTF}}
    <div class="col-{{KData.TableInfo.SearchRowArray.SearchWithEnter.DisplayObject.ColClass}}">
        <div class="input-group no-border">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search me-2" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                </svg>
            </span>

            <input type="text" value="" class="form-control KClassTableSearchTxt"
                data-ServerAPIURL="{{this.KServerAPIURL}}"
                placeholder="{{KData.TableInfo.SearchRowArray.SearchWithEnter.DisplayObject.DisplayText}}"
                onkeyup="KeshavSoftCrud.AllFuncs.Table.SearchRow.SearchFuncs.SearchWithEnter(event)">

        </div>
    </div>
    {{/if}}

    {{#if KData.TableInfo.SearchRowArray.CreativeTim.SearchWithEnter.KTF}}
    <div class="col-{{KData.TableInfo.SearchRowArray.SearchWithEnter.DisplayObject.ColClass}}">
        <div class="input-group no-border">
            <input type="text" value="" class="form-control KClassTableSearchTxt"
                data-ServerAPIURL="{{this.KServerAPIURL}}"
                placeholder="{{KData.TableInfo.SearchRowArray.SearchWithEnter.DisplayObject.DisplayText}}"
                onkeyup="KeshavSoftCrud.AllFuncs.Table.SearchRow.SearchFuncs.SearchWithEnter(event)">
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{> Table/Search/KSearchWithButtons }}
</div>