{{#if KData.TableInfo.SearchRowArray.Button.PrintToPrinter.Double}}
<div class="col-1 d-none d-md-block">
    <a href="#" onclick="jVarGlobalClientObject.Print.Ui.FromSearchRow({inEvent:event})"
        class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer"
            viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
            <path
                d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
        </svg>
    </a>
</div>
{{/if}}

{{#if KData.TableInfo.SearchRowArray.Button.PrintToPrinter.Preview.KTF}}
<div class="col-{{KData.TableInfo.SearchRowArray.Button.PrintToPrinter.Preview.DisplayObject.ColClass}}">
    <a href="#" onclick="jVarGlobalClientObject.Api.UserData.Table.SearchRow.Buttons.PrintToPrinter.Preview(event)">
        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
            <use xlink:href="#TablePrintId" />
        </svg>
    </a>
</div>
{{/if}}

{{#if KData.TableInfo.SearchRowArray.Button.Footer.WithApi.KTF}}
<div class="col-{{KData.TableInfo.SearchRowArray.Button.Footer.WithApi.DisplayObject.ColClass}}">
    <a href="#" onclick="jVarGlobalClientObject.Api.UserData.Table.SearchRow.CreateNew.Footer(event)"
        title="Add new row in the table footer" class="btn btn-outline-primary">
        {{> Bs5/Icons/Svg this.KData.TableInfo.SearchRowArray.Button.Footer.WithApi.DisplayObject}}
    </a>
</div>
{{/if}}

{{#if KData.TableInfo.SearchRowArray.Button.NewWindow.KTF}}
<div class="CardHeaderButtons col-{{KData.TableInfo.SearchRowArray.Button.NewWindow.DisplayObject.ColClass}}">
    <a href="#" 
        title="Add new row in new window as Vertical" class="btn btn-outline-primary">
        {{> Bs5/Icons/Svg this.KData.TableInfo.SearchRowArray.Button.NewWindow.DisplayObject}}
    </a>
</div>
{{/if}}

{{#if KData.TableInfo.SearchRowArray.Button.PopUp.KTF}}
<div class="col-{{KData.TableInfo.SearchRowArray.Button.PopUp.DisplayObject.ColClass}}">
    <a href="#" onclick="jVarGlobalKeshavSoftLocalFuncsObject.ApiFuncs.MainTable.Card.Header.Buttons.PopUp.AddButtonClick({ inEvent :event})" title="Add new row in PopUp as Vertical"
        class="btn btn-outline-primary">
        {{> Bs5/Icons/Svg this.KData.TableInfo.SearchRowArray.Button.PopUp.DisplayObject}}
    </a>
</div>
{{/if}}

{{#if KData.TableInfo.SearchRowArray.Button.FromHtml.KTF}}
<div class="col-{{KData.TableInfo.SearchRowArray.Button.FromHtml.DisplayObject.ColClass}}">
    <a href="#" onclick="jFCreateNewFromHtml({ inEvent :event})" class="btn btn-outline-primary">
        {{> Bs5/Icons/Svg this.KData.TableInfo.SearchRowArray.Button.FromHtml.DisplayObject}}
    </a>
</div>
{{/if}}

{{#if KData.TableInfo.SearchRowArray.Button.Scrollable.KTF}}
<div class="col-{{KData.TableInfo.SearchRowArray.Button.Scrollable.DisplayObject.ColClass}}">
    <div class="form-check form-switch">
        <input onclick="KeshavSoftCrud.AllFuncs.Table.SearchRow.Scrollable.Click(event)" class="form-check-input"
            type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Scrollable</label>
    </div>
</div>
{{/if}}

<div class="col-1 d-none d-md-block">
    <a href="#" onclick="exportTableToCSV()" title="Export data from table to CSV" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-explicit"
            viewBox="0 0 16 16">
            <path d="M6.826 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z" />
            <path
                d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11ZM1 2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5v11a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-11Z" />
        </svg>
    </a>
</div>

<div class="col-1 d-none d-md-block">
    <a href="#" onclick="KeshavSoftCrud.AllFuncs.Table.SearchRow.Buttons.Refresh.OnClick({inEvent:event, inJsonConfig:'{{this.KData.TableInfo.DataAttributes.JsonConfig}}',inItemConfig:'{{this.KData.TableInfo.DataAttributes.ItemConfig}}' })" title="Export data from table to CSV" class="btn btn-outline-primary">
    
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg>
    </a>
</div>

<div class="col-1 d-none d-md-block">
    <a href="#" title="Row in Table Footer." class="btn btn-outline-primary MainTableSearchTableFooter">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
          </svg>
    </a>
</div>